<form [formGroup]="form" (ngSubmit)="handleSubmit()" class="p-4">
    <div class="mb-4">
        <label for="name" class="block text-sm font-medium text-gray-700">Nome</label>
        <input id="name" formControlName="name" type="text" placeholder="Exemplo: Carne extra..."
            class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#ee254b]" />
        <div *ngIf="form.get('name')?.touched && form.get('name')?.invalid" class="text-red-500 text-sm mt-2">
            <div *ngIf="form.get('name')?.hasError('required')">O adicional precisa de um nome.</div>
            <div *ngIf="form.get('name')?.hasError('minlength')">O adicional precisa ter no mínimo 3 caracteres.</div>
        </div>
    </div>

    <div class="mb-4">
        <label for="price" class="block text-sm font-medium text-gray-700">Preço (R$)</label>
        <input id="price" formControlName="price" type="number"
            class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#ee254b]" />
        <div *ngIf="form.get('price')?.touched && form.get('price')?.invalid" class="text-red-500 text-sm mt-2">
            <div *ngIf="form.get('price')?.hasError('required')">O adicional precisa de um preço.</div>
            <div *ngIf="form.get('price')?.hasError('min')">O adicional precisa de um preço válido.</div>
        </div>
    </div>

    <div class="mb-4">
        <label for="category" class="block text-sm font-medium text-gray-700">Categoria</label>
        <select id="category" formControlName="categoryId"
            class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#ee254b]">
            <option [ngValue]="null">Selecione uma categoria</option>
            <option *ngFor="let category of categories" [ngValue]="category.id">
                {{ category.name }}
            </option>
        </select>
        <div *ngIf="form.get('categoryId')?.touched && form.get('categoryId')?.invalid"
            class="text-red-500 text-sm mt-2">
            <div *ngIf="form.get('categoryId')?.hasError('required')">Por favor, selecione uma categoria.</div>
        </div>
    </div>

    <div class="flex justify-end space-x-2">
        <button type="button" (click)="handleCancel()"
            class="px-4 py-2 border border-gray-300 rounded-md hover:bg-gray-100 transition-colors">
            Cancelar
        </button>
        <button type="submit" [disabled]="form.invalid"
            class="px-4 py-2 bg-[#ee254b] text-white rounded-md hover:bg-opacity-90 transition-colors">
            Atualizar
        </button>
    </div>
</form>