<div class="bg-white shadow-md rounded-lg p-4 flex justify-between items-center">
    <div>
        <h2 class="font-semibold">{{ order.customer }}</h2>
        <p class="text-sm text-gray-500">Pedido #{{ order.id }} - {{ order.date | date: 'shortTime' }}</p>
        <status-badge [status]="order.status"></status-badge>
    </div>

    <div class="flex items-center space-x-2">
        <button class="px-4 py-2 border border-gray-300 rounded-lg text-gray-700 hover:bg-gray-100">
            Detalhes
        </button>

        <div class="relative">
            <button
                class="px-4 py-2 border border-gray-300 rounded-lg text-gray-700 flex items-center hover:bg-gray-100"
                (click)="toggleDropdown()">
                Alterar Status
                <span class="material-symbols-outlined ml-2 text-gray-700">{{ icons.ArrowDropDown }}</span>
            </button>
            <ul class="absolute bg-white border border-gray-300 rounded-lg mt-1 shadow-lg w-48 z-10"
                *ngIf="showDropdown">
                <li *ngFor="let status of getAllowedStatuses()" (click)="updateStatus(status)"
                    class="px-4 py-2 text-sm hover:bg-gray-100 cursor-pointer">
                    {{ getStatusText(status) }}
                </li>
            </ul>
        </div>

        <button class="px-4 py-2 bg-red-500 text-white rounded-lg flex items-center hover:bg-red-600"
            (click)="cancelOrder()">
            <span class="material-symbols-outlined">{{ icons.Cancel }}</span>
        </button>
    </div>
</div>