<div class="fixed inset-0 z-50 overflow-y-auto" [class.hidden]="!isOpen" role="dialog" aria-modal="true">

    <div class="fixed inset-0 bg-black bg-opacity-50 transition-opacity"
        (click)="configuration.closeOnBackdrop ? close() : null">
    </div>

    <div class="flex min-h-full items-center justify-center p-4" [ngClass]="{
    'items-start': configuration.position === 'top',
    'items-end': configuration.position === 'bottom' }">

        <div class="relative transform overflow-hidden rounded-lg bg-white shadow-xl transition-all" [ngClass]="[
            getWidthClass(configuration.width ?? 'md'),
            getMaxWidthClass(configuration.maxWidth ?? '2xl')]">

            <!-- close button -->
            <button *ngIf="configuration.showCloseButton" (click)="close()"
                class="absolute right-4 top-4 text-gray-400 hover:text-gray-500">
                <span class="sr-only">Close</span>
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>

            <!-- content -->
            <ng-container #contentContainer></ng-container>
        </div>
    </div>
</div>