<div class="flex items-center justify-center mt-5">
    <div class="relative w-full max-w-[75%]
                sm:max-w-[50%] md:max-w-[75%]
                lg:max-w-[500px]
                transition-all duration-300 ease-in-out"
        [ngClass]="isFocused ? 'scale-105' : 'scale-100'">

        <input type="text" placeholder="Pesquisar..." class="
                w-full py-3 pl-12 pr-4 text-gray-700 bg-white
                border rounded-full outline-none 
                transition-all duration-300 ease-in-out
            "
            [ngClass]="isFocused
                ? 'border-primary ring-1 ring-primary'
                : 'border-gray-300 hover:border-primary'"
            (focus)="handleOnFocus()" (blur)="handleOnBlur()"
            [(ngModel)]="searchTerm"
            (input)="performSearch()" />

        <div class="absolute inset-y-0
                    left-0 flex items-center
                    pl-3 pointer-events-none">
            <span
                class="material-symbols-outlined w-6 h-6 transition-colors duration-300"
                [ngClass]="isFocused ? 'text-primary' : 'text-gray-400'">
                {{ icons.Search }}
            </span>
        </div>
    </div>
</div>