<nav class="fixed bottom-0 left-0 right-0 bg-white border-t border-gray-200">
    <div class="flex justify-around h-16">
        <a href="/" class="flex flex-col items-center text-primary mt-2">
            <i class="bx bx-home text-2xl"></i>
            <span class="mt-1 text-sm">Home</span>
        </a>

        <a href="/cart" class="flex flex-col items-center text-primary mt-2">
            <i class="bx bx-cart text-2xl"></i>
            <span class="mt-1 text-sm">Carrinho</span>
        </a>

        <a href="/pedidos" class="flex flex-col items-center text-primary mt-2">
            <i class="bx bx-receipt text-2xl"></i>
            <span class="mt-1 text-sm">Pedidos</span>
        </a>

        <a href="/perfil" class="flex flex-col items-center text-primary mt-2">
            <i class="bx bx-user text-2xl"></i>
            <span class="mt-1 text-sm">Perfil</span>
        </a>
    </div>
</nav>