<div class="w-full max-w-md bg-primary text-white shadow-lg rounded-lg p-4" (click)="handleClick()">
    <div class="pb-2">
        <h2 class="flex items-center text-2xl font-bold">
            <svg xmlns="http://www.w3.org/2000/svg" class="mr-2 h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 2a10 10 0 00-10 10c0 6.627 10 10 10 10s10-3.373 10-10A10 10 0 0012 2z" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6h6" />
            </svg>
            Endereço
        </h2>
    </div>
    <div class="grid gap-2">
        <div class="text-lg font-semibold">
            {{ address.street }}, {{ address.number }}
        </div>
        <div>{{ address.neighborhood }}</div>
        <div>{{ address.city }} - {{ address.state }}</div>
        <div>CEP: {{ address.postalCode }}</div>

        <div *ngIf="address.complement">Complemento: {{ address.complement }}</div>
        <div *ngIf="address.reference">Referência: {{ address.reference }}</div>
    </div>
</div>