<div class="w-full max-w-md bg-primary text-white shadow-lg rounded-lg p-4" (click)="handleClick()">
    <div class="pb-2">
        <h2 class="flex items-center text-2xl font-bold">
            <span class="material-symbols-outlined mr-2 h-6 w-6">
                {{ icons.LocationOn }}
            </span>
            {{ address.street }} - {{ address.postalCode }}
        </h2>
    </div>
    <div class="grid gap-2">
        <div class="text-lg font-semibold">
            {{ address.street }}, {{ address.number }}
        </div>
        <div>{{ address.neighborhood }}</div>
        <div>{{ address.city }} - {{ address.state }}</div>
        <div>CEP: {{ address.postalCode }}</div>

        <div *ngIf="address.complement">Complemento: {{ address.complement }}</div>
        <div *ngIf="address.reference">Referência: {{ address.reference }}</div>
    </div>
</div>